altair==4.1.0
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
blis==0.4.1
cached-property==1.5.2
catalogue==1.0.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.5
Cython==0.29.21
cytoolz==0.11.0
dask==2021.10.0
dateparser==1.0.0
decorator==4.4.2
defusedxml==0.6.0
demjson==2.2.4
dill==0.3.3
distributed==2021.10.0
distro==1.5.0
entrypoints==0.3
et-xmlfile==1.0.1
etk==2.2.3a0
faiss==1.6.3
filelock==3.0.12
ftfy==5.8
h5py==3.1.0
HeapDict==1.0.1
html5lib==1.1
idna==2.10
importlib-metadata==3.3.0
ipykernel==5.4.2
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso-639==0.4.5
isodate==0.6.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.3
joblib==1.2.0
jsonpath-ng==1.5.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.11.2
jupyterlab-pygments==0.1.2
kgtk==0.5.0
kiwisolver==1.3.1
langdetect==1.0.8
langid==1.1.6
lml==0.1.0
loguru==0.5.3
lxml==4.9.1
lz4==3.1.1
MarkupSafe==1.1.1
matplotlib==3.3.3
mgzip==0.2.1
mistune==2.0.3
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.2
msgpack-numpy==0.4.3.2
msgpack-python==0.5.6
multiprocess==0.70.11.1
murmurhash==1.0.5
mypy==0.790
mypy-extensions==0.4.3
nbclient==0.5.1
nbconvert==6.5.1
nbformat==5.0.8
nest-asyncio==1.4.3
nltk==3.6.6
notebook==6.4.12
numpy==1.22.0
odictliteral==1.0.0
openpyxl==3.0.5
owlrl==5.2.1
packaging==20.8
pandas==1.1.5
pandocfilters==1.4.3
Parsley==1.3
parso==0.7.1
pathlib==1.0.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
plac==1.1.3
ply==3.11
preshed==3.0.5
prometheus-client==0.9.0
prompt-toolkit==3.0.8
protobuf==3.18.3
psutil==5.7.3
ptyprocess==0.6.0
pycountry==20.7.3
pycparser==2.20
pyexcel==0.6.6
pyexcel-io==0.6.4
pyexcel-xls==0.6.2
pyexcel-xlsx==0.6.0
Pygments==2.7.4
pygtrie==2.4.1
pyparsing==2.4.7
pyrallel.lib==0.0.9
pyrsistent==0.17.3
pyshacl==0.9.10
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.4
pyzmq==20.0.0
qtconsole==5.0.1
QtPy==1.9.0
rdflib==5.0.0
rdflib-jsonld==0.5.0
redis==3.5.3
regex==2020.11.13
requests==2.25.1
rfc3986==1.4.0
rltk==2.0.0a15
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.0
Send2Trash==1.5.0
sentence-transformers==0.3.9
sentencepiece==0.1.91
sh==1.14.1
shortuuid==1.0.1
simplejson==3.17.2
six @ file:///tmp/build/80754af9/six_1605205313296/work
sklearn==0.0
sortedcontainers==2.3.0
soupsieve==2.1
spacy==2.2.4
SPARQLWrapper==1.8.5
srsly==1.0.5
tabula-py==2.2.0
tblib==1.7.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
texttable==1.6.3
thinc==7.4.0
threadpoolctl==2.1.0
tokenizers==0.9.3
toolz==0.11.1
torch==1.7.1
torchbiggraph==1.0.0
tornado==6.1
tqdm==4.54.1
traitlets==5.0.5
transformers==3.5.1
typed-ast==1.4.1
typing==3.7.4.3
typing-extensions==3.7.4.3
tzlocal==2.1
ujson==5.4.0
urllib3==1.26.5
wasabi==0.8.0
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==1.2.0
xlwt==1.3.0
zict==2.0.0
zipp==3.4.0
